.cards-section {
  text-align: left;
}

.cards-section h2 {
  text-align: center;
  font-weight: 300;
  font-size: 4rem;

  margin-top: 4rem;
  margin-bottom: 1rem;
}

.recycle h2 {
  text-align: center;
  font-weight: normal;

  /* font-weight: 300; */

  font-size: 2.5rem;

  /* font-size: 4rem; */

  margin-top: 4rem;
  margin-bottom: 1rem;
}

@container (max-width: 480px) {
  .recycle h2 {font-size: 2rem;}
  .recycle div img {display: none;}
  .recycle div {text-align: center;}
}

@media only screen and (max-width: 360px) {
  .cards-section h2 {
    font-size: 3rem;
  }
}

/* CARDS */
.cardEstrutura {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cardEstrutura .card {
  display: flex;
  align-items: flex-start;

  margin-bottom: 2rem;
  border-radius: 16px;

  background-color: var(--branco);
  box-shadow: 0 0 5px 0 #0001;
}



.cardEstrutura .card .descricao {height: 300px;}
.cardEstrutura .testimonial .descricao {height: fit-content;}

@media only screen and (max-width: 800px) {
  .cardEstrutura .card,
  .cardEstrutura .card .descricao {
    height: fit-content;
  }
}

.icone {
  min-width: fit-content;
  max-width: 250px;
}

.icone video {
  max-width: 100%;
}

@media only screen and (max-width: 418px) {
  .icone {
    min-width: 80px !important;
  }
}

.descricao h3 {
  font-size: 15px;
}

.descricao p {
  font-size: 16px;
  line-height: 24px;
}

.textoVermelho {
  color: var(--vermelho-claro);
}

.textoVerde {
  color: var(--verde-escuro);
}
