.footerInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__contato {
        margin: 3em 7em 0 5em;
        
        p {
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 .3em 0;
        }
    }

    &__logo {

        img {
            width: 209px;
            height: 198px;
        }
    }
}