.carrossel {
    display: flex;


    &__botoes {
        display: flex;
        justify-content: flex-end;

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    &__images {

        margin: 0 1em;
        img {
            margin: 0 1em;
        }
    }
}