.footerLinks {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    

    &__section {
        
        margin: 0 2em;

        a {
            text-decoration: none;
            color: var(--cor-do-texto);
            margin: 0 .6em;
            font-weight: 700;
            font-size: 21px;
        }

        a:hover {
            color: var(--vermelho-claro);
        }
    }
}

.subSection {
    display: flex;
    flex-direction: column;
    margin: 1.8em 0 0 .3em;
    
    a {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 1.5em;
    }
}