.mapas {
  justify-self: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 2px #0002;
  margin-block: 3rem 6rem;
}

.mapas p {
  margin-bottom: 1.5rem;
}

.helpInput label {
  display: block;
  padding-left: 12px;
  margin-bottom: 4px;
}

.helpInput input, .helpInput textarea {
  width: 360px;
  padding: 10px;
  border: 2px solid #aaa;
  border-radius: 8px;

}

@media screen and (max-width: 400px) {
  .helpInput input, .helpInput textarea {
    width: 100%;
  }
}

.helpInput input::placeholder, .helpInput div textarea::placeholder {
  color: #555;
}

.cbutton {
  border-radius: 8px;
  border: solid 1px #cc1814;
  text-transform: uppercase;
  transition: 0.3s ease;
  height: fit-content;
  background-color: var(--vermelho-claro);
  color: var(--branco);
  font-weight: 600;
  box-shadow: 0 0 5px 0 rgba(228, 51, 49, 0.6);
}
