.reciclagem h2 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.reciclagem__doe {
  display: flex;
}

.reciclagem__doe img {
  width: 14rem;
  height: 14rem;
}

.reciclagem__doe h3 {
  font-size: 25px;
  margin-bottom: 1rem;
}

.reciclagem__doe p {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 750px) {
  .reciclagem {
    margin: 0 2rem;
  }



  .reciclagem__doe {
    flex-direction: column;
    text-align: center;
  }

  .reciclagem__doe img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .reciclagem__doe-texto {
    margin: 0;
  }
}
