.contact {
  margin: 2em 4em;
}

.contact h1 {
  font-size: 62px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}

.mapas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mapas p {
  margin-bottom: 1.5em;
}

.form {
  text-align: center;
}

.form h2 {
  font-size: 50px;
  font-weight: 300;
  margin: 1em;
}

.form p {
  font-size: 16px;
  font-weight: 400;
}

.entradas {
  margin: 2em 0;
}

.pessoais {
  display: flex;
  justify-content: center;
}

.campo {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 1em;
}

input {
  width: 404px;
  height: 48px;
  margin-bottom: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}

.mensagem {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: .5em 2em;
}

textarea {
  width: 841px;
  height: 200px;
  margin-bottom: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}

.mensagem button {
  background: var(--vermelho-claro);
  width: 200px;
}

.mensagem button {
  background: var(--vermelho-claro);
  width: 200px;
}

@media screen and (max-width: 750px) {
  .mapas {
    flex-direction: column;
  }

  .mapas iframe {
    width: 300px;
    height: 200px;
  }

  .form h2 {
    font-size: 36px;
  }


  .pessoais {
    flex-direction: column;
  }

  .campo {
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0em;
  }

  input {
    width: 250px;
  }

  textarea {
    width: 250px;
    height: 120px;
  }

  .mensagem button {
    background: var(--vermelho-claro);
    width: 250px;
  }

}