.contact {

    margin: 2em 4em;

    h1 {
        font-size: 62px;
        font-weight: 300;
        text-align: center;
    }

    &__form {
        text-align: center;

        h2 {
            font-size: 50px;
            font-weight: 300;
        }

        p {
            font-size: 16px;
            font-weight: 400;
        }
    }
}