.home .button {
  text-align: center;
  position: relative;
}

.quem-somos {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .quem-somos div {
    max-height: fit-content;
    flex-basis: 700px;
  }
}

.quem-somos img {
  max-width: 100%;
  padding-block: 20px;
}

.home .voluntario img {
  max-width: 100%;
  max-height: 200px;
}

@media  screen and (min-width: 750px) {
  .home .voluntario img {
    max-height: 400px;
  }
}

.home .voluntario {
  width: fit-content;
  max-height: 500px;
}

@media only screen and (max-width: 600px) {
  .home .voluntario div{
    flex-wrap: wrap;
    justify-content: center;
  }
}

.recycle h2 {
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

@container (max-width: 800px) {
  .recycle h2 {font-size: 2rem;}
  .recycle div img {width: 7rem !important;}
  .recycle div {text-align: center;}
}

@container (max-width: 600px) {
  .recycle div {flex-wrap: wrap; justify-content: center;}
}