.home .button {
  text-align: center;
  position: relative;
}

.quem-somos {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .quem-somos div {
    max-height: fit-content;
    flex-basis: 700px;
  }
}

.quem-somos img {
  max-width: 100%;
  padding-block: 20px;
}

.home .voluntario img {
  max-width: 100%;
  max-height: 200px;
}

@media  screen and (min-width: 750px) {
  .home .voluntario img {
    max-height: 400px;
  }
}

.home .voluntario {
  width: fit-content;
  max-height: 500px;
}


