.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;

  background-color: var(--branco);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;

  display: flex;
  place-items: center;
}

.navbar .logo img {
  max-width: 65px;
}

.navbar .links a {
  position: relative;
  text-decoration: none;
  color: var(--preto);
  transition: .4s cubic-bezier(0.23, 1, 0.320, 1);
  padding: 0 10px;
  margin: 0 1rem;
}

.navbar .links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: .4s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #217901;
  width: 0%;
  height: 2px;
}

.navbar .links a:not(.active):hover {
  background-color: #E2F2C2;
  color: #000;
  border-radius: 1rem;
  padding: 10px;
}

.navbar .links a.active::after {
  width: 100%;
}

.navbar .links ul li a.active {
  color: #1B6600;
}
  
.mobile i {
  background-color: #000;
  position: relative;
  display: flex;
  width: 28px;
  height: 4px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile i:nth-child(1) {top: -4px;}

.mobile i:nth-child(3) {top: 4px;}

.mobile.active i:nth-child(1) {
  rotate: -45deg;
  transform: translate(-10px, 0);
}

.mobile.active i:nth-child(2) {
  scale: 0;
  transform: rotate(150deg);
}

.mobile.active i:nth-child(3) {
  rotate: 45deg;
  transform: translate(-11px, -1px);
}

@container (max-width: 1045px) {
  .navbar .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;

    top: 95px;
    right: 0;
    width: 300px;
    height: calc(100vh - 96px);
    height: calc(100svh - 96px);

    background-color: #fff;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
    padding: 30px;
  }

  .navbar .links.active {
    right: -300px;
  }

  .navbar .links li {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .navbar > div.flex {
    position: absolute;
    right: 0;
  }
}

@container (min-width: 1046px) {
  .navbar .mobile {
    display: none;
  }

  .navbar .links ul {
    display: flex;
  }
}

@media only screen and (min-width: 1100px) {
  .navbar{justify-content: space-around;}
}
