.footerLinks {
  display: flex;
  flex-wrap: wrap;
}

.footerLinks .section {
  margin: 1rem;
  align-items: center;
}

.footerLinks .section .subSection .location li {
  display: flex;
  width: 200px;
  padding-bottom: 15px;
}

.footerLinks .section .subSection .location li:hover,
.footerLinks .section .subSection .location li:active {
  color: firebrick;
}

.footerLinks .section .subSection .location li img {
  height: 25px;
  padding: 4px;
}

.footerLinks .section h3 {
  text-decoration: none;
  color: var(--cor-do-texto);
  margin: 0 0 1.5rem .6rem;
  font-weight: 500;
  font-size: 20px;
}

.footerLinks .section a:hover,
.footerLinks .section a:active {
  color: var(--vermelho-claro);
}

.subSection {
  display: flex;
  flex-direction: column;
  color: #0009;
  margin-left: .8rem;
}

.subSection ul li {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}
