.cards-section {
  text-align: left;
}

.cards-section h2 {
  text-align: center;
  font-weight: 300;
  font-size: 4rem;

  margin-top: 4rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 360px) {
  .cards-section h2 {
    font-size: 3rem;
  }
}

/* CARDS */
.cardEstrutura {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.cardEstrutura .card {
  align-items: flex-start;

  margin-bottom: 2rem;
  border-radius: 16px;

  background-color: var(--branco);
  border: 1px #d7d7d7 solid;
}

.cardEstrutura .card:not(.testimonial) {
  height: 480px;
}

@media only screen and (min-width: 1024px) {
  .cardEstrutura .card:not(.testimonial) {
    height: 275px;
  }
}

@media only screen and (min-width: 1080px) {
  .cardEstrutura .card {
    max-width: 512px;
  }
}

@media only screen and (max-width: 800px) {
  .cardEstrutura .card,
  .cardEstrutura .card .descricao {height: fit-content;}

  .cardEstrutura .card .descricao button {margin: 0 auto;}

}

.icone video {
  max-width: 100%;
}

@media only screen and (max-width: 418px) {
  .icone {
    min-width: 80px !important;
  }
}

.descricao h3 {
  font-size: 15px;
}

.descricao p {
  font-size: 16px;
  line-height: 24px;
}

.textoVermelho {
  color: var(--vermelho-escuro);
}

.textoVerde {
  color: var(--verde-escuro);
}
