.btn-colored,
.btn-outlined {
  width: fit-content;
  border-radius: 8px;
  border: solid 1px #cc1814;
  transition: 0.3s ease;
  height: fit-content;
}

.btn-outlined {
  background-color: var(--branco);
  color: var(--vermelho-claro);
  margin-top: 2rem;
  box-shadow: 0 0 8px 0 rgba(228, 51, 49, 0.4);
}

.btn-outlined:hover{
  background-color: #ffd0cf;
  color: #870000;
}

.btn-outlined:active {
  background-color: #f9abaa;
  color: #6e0000;
  border-color: #870000;
}

.btn-colored {
  background-color: var(--vermelho-claro);
  color: var(--branco);
  padding: 4px 36px;
  font-weight: 600;
  box-shadow: 0 0 10px 0 rgba(228, 51, 49, 0.6);
}

.btn-colored:hover{
  color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0 5px 0 #83b224aa;
  background-color: #83B224;
}

.btn-colored:active {
  color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0 5px 0 #83b224aa;
  background-color: #59800D;
}

.banner .btn-colored {  
  font-size: 14px;
}
