.cross {
  position: relative;
  display: flex;
}

.question:focus {
  cursor: auto;
}

.cross i {
  transition: all 0.2s ease-in-out;
  background-color: #222;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
}

.cross i:nth-child(1) {
  rotate: 90deg;
}

.cross i:nth-child(2) {
  right: 20px;
}

.accordion.accordion.active .cross i:nth-child(1) {
  opacity: 0;
}

.Accordions {
  border-radius: 1rem;
  padding-top: 3px;
  box-shadow: 0 0 5px #0002;
  background-color: #fff;
}

.accordion .answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(1, 0.48, 0, 0.62);
}

.accordion.active .answer {
  max-height: 600px;
  animation: fade 0.6s ease-in-out;
}

/* .accordion img {
  width: 70px;
  height: 70px;
} */

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion .answer .red {color: #B10906;}

.accordion .answer .green {color: #3c5b00;}

.accordion .answer .blue {color: #004275;}
