@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&display=swap");

.CustomAccordion {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 100px;
}

.CustomAccordion div:nth-of-type(n + 1) {
  border: none !important;
}

.CustomAccordion div h2 button:nth-of-type(n + 1) {
  font-family: "Lato" !important;
  font-weight: 300;
  border-radius: 0 !important;
  background-color: var(--branco);
  color: #000;
  font-size: 1.6rem !important;
  border-bottom: 1px solid #bbb !important;
}

.CustomAccordion div h2 button:focus {
  box-shadow: none;
}

.CustomAccordion div h2 button::before {
  content: "+";
  position: absolute;
  font-size: 1.8rem;
  right: 20px;
  rotate: 90deg;
}

.CustomAccordion div h2 button::after {
  background-image: none !important;
}
