.footerSocial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 2em 0;
    justify-content: space-around;

    &__redes {
        margin: 0 24em 0 0;

        img {
            margin: 0 1em;
        }
        
    }

    &__direitos {
        margin: 0 0 0 16em;
        p {
            font-size: 17px;
            font-weight: 400;
        }
    }
}