.cardEstrutura {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1em 8em;
}

.card {
    display: flex;
    width: 515px;
    height: 264px;
    background-color: var(--branco);
    margin-bottom: 2em;
    border: 1px solid var(--branco);
    border-radius: 16px;

    &__icone {
        margin: 1.5em;

        img {
            width: 120px;
            height: 180px;
        }
    }

    &__descricao {
        margin: 0 2.5em 0 1em;

        h3 {
            font-size: 15px;
        }

        h4 {
            font-size: 25px;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }

        p {
            font-size: 16px;
        }

        button {
            width: 131px;
            height: 40px;
            color: var(--vermelho-claro);
            background-color: var(--branco);
            border: 1px solid var(--vermelho-claro);
            border-radius: 8px;
            
        }
    }
}

.textoVermelho {
    color: var(--vermelho-claro);
}

.textoVerde {
    color: var(--verde-claro);
}