.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.about .img-nos h2 {
  position: relative;
  padding-bottom: 2rem;
}

.about .card {
  margin-inline: 1rem;
  flex-direction: column;
}

.about .card h2 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.about .quadrado {
  background-color: var(--branco);
  box-shadow: 0 0 7px -2px #0003;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .quadrado img {
  margin: 2rem 0 0.5rem 0;
}

.about .quadrado p {
  font-size: 16px;
  line-height: 24px;
  padding: 0 2rem;
  text-align: center;
}

.about .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 0;
  margin: 3rem 0;
}

@media (max-width: 1110px) {
  .about .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .about .cards .card:nth-child(3n) {
    display: grid;
    grid-column: 1/3;
    justify-content: center;
  }

  .about .cards .card:nth-child(3n) .quadrado {
    width: 430px;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .about .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about .quadrado {
    width: 100% !important;
    max-width: 380px;
    height: fit-content;
  }

}

@media screen and (min-width: 701px) {
  .about .quadrado {
    max-width: 405px;
    min-width: 293px;
    height: 370px;
  }
}


.about .management > div{
  max-width: 500px;
  width: 100%;
  height: 280px;
  border: 1px solid #ddd;
}

@media only screen and (max-width: 610px) {
  .about .management > div {
    width: 250px;
    height: auto;
  }
}

.about .management .positions * {
  margin-bottom: 16px;
}

.cardEstrutura .testimonial {
  height: 440px;
}