.transparencia h1 {
  font-size: 62px;
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-align: center;
}

.botoes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.botao button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--cinza-escuro);
  border-radius: 8px;
  background: var(--branco);
  color: var(--cinza-escuro);
  font-size: 16px;
  width: 215px;
  height: 48px;
  justify-content: center;
  padding: 2rem;
  margin: 1rem 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

.botao button:is(:hover,:active) {
  background: #222;
  color: #FFF;
}

@media screen and (max-width: 750px) {
  .transparencia {
    margin: 0 2rem;
    text-align: center;
  }

  .transparencia h1 {
    font-size: 50px;
    margin-top: 1rem;
  }
}
